:root {
  --zoom-level: 1.2;
}

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("/fonts/MS_Sans_Serif_8pt.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("/fonts/MS_Sans_Serif_8pt_bold.ttf");
  font-weight: bold;
  font-style: normal;
}

.header-global {
  font-family: "Pixelated MS Sans Serif";
  font-size: 11px;
}

.header-global {
  font-family: "Pixelated MS Sans Serif";
  font-size: 11px;
}

.zoom {
  zoom: 140%;
}

canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

body {
  margin: 0;
}

.title-bar-wave {
  align-items: center;
  background: linear-gradient(90deg, rgb(234, 72, 255), #1bd4ec);
  display: flex;
  justify-content: space-between;
  padding: 3px 2px 3px 3px
}

#map button {
  pointer-events: auto;
  margin: 2px;
  min-width: 40px;
}

.window {
  width: 550px;
  zoom: 140%;
}

#map {
  height: 400px;
  zoom: 0.8;
}

#kartta .window:fullscreen #map {
  zoom: 0.8;
  height: 83vh;
}

.title-bar-controls button[aria-label="Close"] {
  margin-left: 0;
}
