
.content {
  zoom: 135%;
}

@media (max-aspect-ratio: 2/3) {
  .content {
    zoom: 232%;
  }
}

canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

body {
  margin: 0;
}

.title-bar-wave {
  align-items: center;
  background: linear-gradient(90deg, rgb(234, 72, 255), #1bd4ec);
  display: flex;
  justify-content: space-between;
  padding: 3px 2px 3px 3px
}
